
#backgroundContact{
    background-color: #33314a;
    

}

#gridContact{
    animation: slideContact 1000ms ease;
    background-color:#8C88BA;
    color: white;
    font-family:  serif;
    text-align: center;
    display: grid;
    grid-template-columns:  auto;
    grid-template-rows: 110px 380px auto;

    width: 100%;
    height: auto;

}

h2{
    padding-top: 100px;
    font-size: clamp(3rem, 8vw, 6rem);
    padding-bottom: 50px;
    grid-row: 8;
    font-family: 'Stylish-Regular', sans-serif;

}

#gridContact h3{
    font-size: clamp(20px, 4vw, 35px);
  
}

#gridContact p{
    font-size: clamp(15px, 2.5vw, 30px);
    padding-bottom: 50px;
}

 .styleLink{
    text-decoration: none;
    font-size: clamp(15px, 2.5vw, 30px); 
    color:white;
 }

 #phone{   padding-bottom:50px;}
 #address{padding-bottom: 50px;}  

.form{
    align-items:center;
    margin: auto;
    font-size: clamp(14px, 1.4rem, 18px);

}

.form-holder1{
    display: block;
    position: inherit;
    height: 1.8rem;
    width: 50vw;
    margin: auto;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px;
}


.form-holder2{
    display: block;
    position:inherit;
    height: 5rem;
    width: 50vw;
    margin:auto;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
}

#button{
    position:relative;
    display:block;
    float: right;
    right:25vw;
    top: 4px;
    height: 1.5rem;
    width: 60px;
    font-size: 1rem;
    font-family: sans-serif;
}


@keyframes slideContact {
0% {
    transform: translateX(300px);
    opacity: 0;
    filter:blur(0px);
}
100% {
    transform: translateX(0);
    opacity: 1;
    filter:blur(1px);
}
}




#welcomePhoto{
    position: absolute;
    width: 100%;
    height:100%;
    background-image: url('./images/contactBackground.jpg');
    background-size: 110vmax;
    background-position: top  center;
    filter:grayscale(.8);
    animation: fadeIn 2000ms ease, grayOut 3000ms linear;
    
}

#connectText{
    padding-top: 50px;
    grid-row: 1;
    object-position: top;
    font-size: clamp(15px, 25px ,30px );
    z-index: 2;
    width: 100%;
    animation-delay: 1000ms;
    animation: fadeIn 1200ms ease, slideContact 1000ms ease;
    opacity: 1;
    text-shadow: black 6px 0px 20px;
}



#contentAbout{
    padding-top: 30px;
    grid-row: 3;
    background-color: #33314a;
    animation-delay: 1000ms;
    animation: slideUp 3000ms ease;
    z-index: 2;
    padding-bottom: 200px;
    
    padding-left: 3vw;
    padding-right:3vw;
    opacity: 1;
    
}


@keyframes slideUp {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY();
    }
}

@keyframes grayOut{
    0%{filter: grayscale(0)}
    100%{filter: grayscale(.8)}
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#address:hover  #addressIcon{
    opacity: 1;
    color: rgb(99, 187, 216);
    transform: rotate(-45deg);
}

#addressIcon{
    opacity: 0.5;
    transition: opacity 300ms ease, color 200ms ease, transform 500ms ease;
}

#phone:hover  #phoneIcon{
    opacity: 1;
    transform: rotate(0deg);
    color: lightgreen;
}

#phoneIcon{
    transform: rotate(135deg);
    opacity: 0.5;
    transition: opacity 300ms ease, transform 500ms ease, color 200ms ease;
}



#tableAbout{
    height: clamp(3rem, 4rem, 5rem);    
    font-size: clamp(15px, 3vw ,30px );

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

#tableAbout td{
    width: 25vw;
    text-align: center;
}

#hours:hover  #hoursIcon{
    opacity: 1;
    color: yellow;
    animation: spin infinite 3s linear;
}

#hoursIcon{
    opacity: 0.2;
    transition: opacity 300ms ease, color 200ms ease;
    
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .line{
    opacity:0.5;

  }